aiohttp==3.7.3
aiohttp-apispec==2.2.1
alembic==1.4.3
asyncpg==0.21.0
databases==0.4.1
marshmallow==3.9.1
psycopg2-binary==2.8.6
SQLAlchemy==1.3.20

#dev
pytest==6.2.4
pytest-aiohttp==0.2.0
sqlalchemy_utils==0.37.8

#lint
flake8==3.8.4
